#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.tag,
.contact-tag {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
