#projects {
  background: url('../img/folder.jpg') no-repeat center center/cover;
  padding: 6rem 0 6rem 0;

  h1 {
    font-family: 'Stardos Stencil', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .green-thumb,
    .jungle-app,
    .scheduler,
    .tiny-app,
    .tweeter {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .project {
      background: #fff;
      margin: 1rem;
      padding: 1rem;
      height: 300px;
      width: 30%;
      max-width: 250px;
      transform: rotate(-5deg);
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

      img {
        height: 90%;
        border: solid 2px var(--primary-color);
      }
    }

    .project-description {
      height: 300px;
      width: 50%;
      // min-width: 700px;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-family: 'Courier Prime', monospace;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: var(--primary-color);
    }

    img {
      height: 50%;
      width: 100%;
      margin-bottom: 5px;
    }

    a {
      padding: 0.7rem;
      background-color: var(--secondary-color);
      border-radius: 20px;
      flex: end;
    }

    a:hover {
      background-color: var(--supplimental-color);
      border: solid 1px var(--primary-color);
      transition: all 0.5s ease-in-out;
    }
  }
}
