// Fonts

// font-family: 'Courier Prime', monospace; -typewriter
// font-family: 'Montserrat', sans-serif;   -regular
// font-family: 'Stardos Stencil', cursive; -stencil

:root {
  --primary-color: #101820ff;
  --secondary-color: #d8b157;
  --supplimental-color: #f1d592;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier Prime', monospace;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--supplimental-color);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

// @media (max-width: 800px) {
//   .tag,
//   .btn,
//   .fa-phone-alt,
//   .fa-at,
//   .email {
//     display: none;
//   }

//   .x-large {
//     font-size: 2rem;
//   }

//   .btn {
//     display: none;
//   }

//   .recommendations,
//   .summary,
//   .education,
//   .employment,
//   .skills {
//     width: 100%;
//   }

//   .dates {
//     flex-direction: column;
//     align-items: flex-start;
//   }
// }
